<a href="#" data-reveal-id="myModal" data-reveal>Democratically.</a>

<div id="myModal" class="reveal-modal" data-reveal>
	<h2>What is <%= t 'title' %>?</h2>
	<p class="lead">Here at <%= t 'title' %>, we like to read the news. But we feel
		there's just too much of it nowadays.
	</p>
	<p>We thought we'd come up with a clever way of making this experience less
		painful by leveraging social media. Every day, our algorithms make use of
		services such as Facebook and Twitter to sift through the most trending news.
		Our ranking is politically agnostic and entirely determined by you,
		the readers.
	</p>
	<p>
		We realize that popular news sources have a larger readership.
		But worry not! We account for this difference to give the less popular
		sources a fair chance at being heard.
	</p>
	<p>
		The more social you are, the better our top suggestions will be.
		We believe in your likes and dislikes.
		We believe in independent thinking.
		We believe in democratic reading.
	</p> 
	<p>
		Enjoy your stay!
	</p>
	<a class="close-reveal-modal">&#215;</a>
</div>