<a href="#" data-reveal-id="myModal" data-reveal>Democratically.</a>

<div id="myModal" class="reveal-modal" data-reveal>
	<h2>What is Kiji?</h2>
	<p class="lead">Here at Kiji, we believe in your likes and dislikes.
		We believe in independent thinking.
		We believe in democratic reading.</p> 
	<p>
		Kiji's robots are designed to leverage social media such as
		Facebook and Twitter to rank news from multiple news sources.
		Our ranking is politically agnostic and entirely determined by you,
		the readers.
	</p>
	<p>
		We realize that popular news sources have a larger readership than
		small ones. But worry not! We account for this difference
		to give smaller news sources a fair chance at being heard as well.
	</p>
	<p>
		In brief, the more social you are, the better our top suggestions will be.
	</p>
	<p>
		We hope you enjoy your stay!
	</p>
	<a class="close-reveal-modal">&#215;</a>
</div>