<!-- Three Content Blocks -->
<div class="row">
	<div class="twelve columns text-center"><br />
        <h2>Hottest 3 <small>of the day</small></h2>
        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
			<% [@first, @second, @third].each_with_index do |article, i| %>
			<li>
			<%= link_to( image_tag("screenshots/screenshot-#{i}.png", :class => "th radius"), article.url, :target => "_blank" ) %>
			<%= link_to("#{article.title} - #{article.source}", article.url, :target => "_blank") %>
			</li>
			<% end %>
		</ul>
   </div>    
</div>
