<% title 'About' %>
<p>
	Kiji started in the valleys of a faraway land, amidst a war between the gods
	of Faragon and the demons of Kriit.
</p>
<p>
	Err...we wish. Kiji started in a small room in London. But before that,
	it emerged from a desire to make sense of today's information overload. What better
	way to know which articles are worth reading than by <strong>ranking them democratically</strong>?
	<br />By leveraging social media, we're confident we've found a way to achieve this!
</p>
<p>
	It's lovely to see that an article has 10 likes, or that another has 1.5k likes.
	Yet this provides us readers with ZERO frame of reference as to how that stands compared to other articles.
	Is it a good article? Is it a bad one? Who knows.
	What's more, these numbers provide us with ZERO reference as to how that performs with respect
	to other online news sources.
</p>
<p>
	Kiji is a response to this mess. <strong>Kiji is a platform that cleans up 
	today's information overload.</strong>
</p>
<p>
	Every day, we gather data from multiple news sources and present them to you in a coherent
	way - not merely by how many likes or shares an article may have, but also by how that
	compares to other articles from different news sources. What's more, we try to bring you a brief
	summary of the top articles in case you're wondering if it's worth your time.
</p>
<p>
	This is a democratic form of reading. Not only are you helping your peers access good content
	every time you share something, it also helps lesser known news sources get a fair
	chance at being heard. Our algorithms let these democratically selected articles bubble to
	the top.
</p>
<p>
	Oh, and in case you're wondering, we don't track you in any way.
</p>
<p>
	Well, now that introductions are out of the way, <%= link_to "happy reading", root_path %>!
</p>