<h1><%= t 'title' %> - ContactMailer#contact_form</h1>

<p>
  The following message was delivered by a user:
  <ul>
  	<li>Name: <%= @name %></li>
  	<li>Email: <%= @email %></li>
  	<li>Message: <%= @message %></li>
  </ul>
</p>
