<div class="row footer">
	<div class="medium-6 large-6 columns">
		<p>© <%= "#{footer_date} #{t('title')}" %>. All Rights Reserved.</p>
	</div>
	<div class="medium-6 large-6 columns">
		<ul class="right">
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to 'Contact', new_contact_path %></li>
		</ul>
	</div>
</div>