<div class="header">
	<div class="row">
		<div class="large-6 columns">
			<h1><%= t 'title' %> <small>Read the news. <%= render 'about' %></small></h1>
		</div>
		<div class="large-6 columns">
		</div>
	</div>
</div>
