<div id="masthead">
	<div>
		<p><%= content_tag :strong, DateTime.now.strftime("%A") %> <%= DateTime.now.strftime("%B %e, %Y") %></p>
	</div>
	<h1><%= t 'title' %> <small>Read the news. <%= render 'about' %></small></h1>
</div>